#root{
  --vt-c-primary-blue: #4265D6;
  --vt-c-secondary-yellow: #EFBE69;
  --vt-c-accent1-neon-blue: #78F1F1;
  --vt-c-accent2-indigo: #293855;
  --vt-c-accent3-purple: #8E54E9;
  --vt-c-white: #FFFFFF;
  --vt-c-dirty-white: #F4F7F9;
  --vt-c-off-white: #BABABA;
  --vt-c-black: #1E1E1E;
  --vt-c-grey: #404040;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
